.photoBackground {
    background-image: url("./images/backgroundphoto.webp");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px;
    padding-bottom: 50px;
    background: #1f2833;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    max-width: 1000px;
    width: 1000px;
    height: auto;
    gap: 50px;
}

section {
    width: 700px;
    height: auto;
    display: flex;
    flex-direction: column;
}

#map {
    align-items: center;
}

img {
    width:800px;
    height:auto;
    border-radius: 10px;
}

iframe {
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

ul {
    list-style: none;
}

h2{
    text-align: center;
}

h2, summary, p, li, label {
    color: whitesmoke;
}

p {
    text-wrap: wrap;
}

.qrCodeText{
    text-align: center;
    font-size: large;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:10px;
}

input {
    border-radius: 5px;
}

.qrContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.generatorContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#generatedQRCode {
    width: 200px;
    height: 200px;
}

@media (max-width: 1050px) {
    main {
        width: 800px;
    }

    section {
        width: 500px;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    iframe {
        width: 400px;
        height: 400px;
        border-radius: 10px;
    }

    img {
        width:600px;
        height:auto;
        border-radius: 10px;
    }

    #generatedQRCode {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 850px) {
    main {
        width: 600px;
    }

    section {
        width: 300px;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .generatorContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    iframe {
        width: 300px;
        height: 300px;
        border-radius: 10px;
    }

    img {
        width:400px;
        height:auto;
        border-radius: 10px;
    }

    #generatedQRCode {
        width: 200px;
        height: 200px;
    }

    .qrCodeText {
        font-size: 14px;
    }

    form {
        padding: 5px;
        width: 200px;
        height: auto;
        gap:5px;
    }
}

@media (max-width: 650px) {
    main {
        width: 400px;
    }

    section {
        width: 300px;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    iframe {
        width: 300px;
        height: 300px;
        border-radius: 10px;
    }

    img {
        width:400px;
        height:auto;
        border-radius: 10px;
    }

    #generatedQRCode {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 450px) {
    main {
        width: 200px;
    }

    section {
        width: 150px;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    iframe {
        width: 150px;
        height: 150px;
        border-radius: 10px;
    }

    img {
        width:170px;
        height:auto;
        border-radius: 10px;
    }

    #generatedQRCode {
        width: 100px;
        height: 100px;
    }
}