@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html {
    scroll-behavior: smooth;
}

html body {
    height: 100%;
    margin: 0;
    font-family: "Lato";
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: sticky;
    z-index: 9999;
    top: 0;
    display: flex;
    justify-content: center;
    background: #141619;
}

nav ul {
    margin: 0px;
    list-style:none;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}

nav a:hover {
    background-color: #1f2833;
    border-radius: 10px;
}

footer {
    justify-self: auto;
    background: #0b0c10;
    text-align: end;
    padding: 1px;
}

footer p {
    color: whitesmoke;
}

@media (max-width: 768px) {
    nav {
        justify-content: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        width: 100%;
        text-align: center;
    }
}